    html,
    body {
        line-height: 1;
        font-family: 'Playfair Display', serif;
        color: #2D3945;
        overflow-x: hidden;
    }

    input::placeholder {
        text-align: right;
        font-style: italic;
    }

    :focus {
        outline: #2D3945 3px solid;
        transition: all 0.5s ease-out;
    }

    ol,
    ul {
        list-style: none;
    }

    blockquote,
    q {
        quotes: none;
    }

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }


    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    nav {
        background-color: #2D3945;
        color: white;
        padding: 40px;
        margin: auto;
        text-align: center;
        font-weight: bold;
    }

    main {
        margin: 10px 10px 0px 10px;
    }

    h1 {
        font-family: 'Playfair Display';
        font-size: x-large;
        font-weight: bold;
    }

    h2 {
        color: #2D3945;
        font-size: large;
        font-weight: bolder;
    }

    .coninfo {
        margin-bottom: -10px;
    }

    hr {
        border: #2D3945 1px solid;

    }

    hr.new {
        border: #2D3945 3px solid;
    }

    .sign-up {
        text-align: center;
        margin: 30px;
        border-radius: 3px;
    }

    h3 {
        color: gray;
    }

    .contact-info {
        margin-top: 10px;
        border-radius: 3px;
        flex-direction: column;
        display: flex;
        background-color: #4EBBB5;
        padding: 5px;
        padding-top: 20px;
    }

    input,
    select {
        border-radius: 3px;
        padding: 15px;
        border-style: none;
        background-color: #EFF0F1;
        margin-bottom: 30px;
    }

    label {
        margin: 0px 10px 10px 0px;
    }

    .zip {
        width: 45%;
    }

    .newsletter {
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        padding: 5px;

    }

    .news {
        margin-bottom: 10px;
    }

    .button {
        font-family: 'Playfair-Display';
        background-color: #4EBBB5;
        width: 100%;
        font-size: x-large;
        color: white;
        border-radius: 3px;
        border-style: none;
        margin-top: 10px;
        height: 60px;
    }

    textarea {
        background-color: #EFF0F1;
        border-radius: 3px;
        border-style: none;
        width: 100%;
        resize: none;
        margin-top: 20px;
        height: 120px;
        padding: 0px;
    }

    footer {
        width: 100%;
        text-align: center;
        margin: -10px 0px 40px 0px;
        font-style: italic;
    }

    @media only screen and (min-width: 768px) {
        main {
            max-width: 500px;
            margin: 0 auto;
        }

        .contact-info {
            margin-top: 20px;
            border-radius: 3px;
            padding: 5px;
            display: flex;
            flex-wrap: wrap;
            padding-top: 30px;
            flex-direction: row;
        }

        .contact-info input,
        select {
            align-self: flex-end;
            width: 60%;
            flex-direction: column;
            margin-top: -10px;
        }

        .contact-info label {
            align-self: flex-start;
            width: 30%;
            flex-direction: column;
        }

        .contact-info .zip {
            width: 15%;
        }

        .contact-info #state {
            width: 66%;
            color: gray;
        }
    }